{{!Add to RSVP List Partial Template}}
{{!Author: Adam Kerr and Kenneth Kang}}

<div id="backdrop"></div>
<div id="rsvp-add">
  <div id = "rsvp-header">
    <h2 id="h2-rsvp-head">RSVP Here</h2>
  </div>

  <div class="rsvp-content">
      <div class="rsvp-input">
        <div id="person-input-textarea" rows='1'>Name</div>
        <input id="person-input" type = "text" placeholder="Benny Beaver"></input>
      </div>
      <div class="rsvp-input">
        <div id="email-input-textarea" rows='1'>Email</div>
        <input id="email-input" type = "email" placeholder="bennybeaver@oregonstate.edu"></input>
      </div>
      <div class = "rsvp-input">
        <div id = "id-input-textarea" rows = '1'>ONID ID</div>
        <input id="id-input" type = "number" pattern = "\d{3}[\-]\d{3}[\-]\d{3}" placeholder="123-456-789" required></input>
      </div>
    </div>

    <div class="rsvp-bottom">
      <button type="button" id="rsvp-cancel-button">Cancel</button>
      <button type="button" id="rsvp-add-button">Add RSVP</button>
    </div>

</div>
