{{!Main Layout Template}}
{{!Author: Adam Kerr, Kenneth Kang, Cyrus Swihart}}

<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" sizes="16x16" href="/Images/favicon-16x16.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" crossorigin="anonymous">
    <title>HCSA/HonorsX</title>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel= "stylesheet" href = "/style.css" media="screen">
    <script src="/search.js" defer></script>
    <script src = "{{script}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
    <script src="/rsvpTemplate.js" charset="utf-8" defer></script>
  </head>

  <body>

    <header>
      <a href = "/">
      <div class = "site-title">
        <img id = "head-logo" src ="/Images/BennyOldLogo.png" alt= "Logo">
        <h1 id = "title-name">HCSA/HonorsX</h1>
        </div>
        </a>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink">
            <a href="/">Home</a>
          </li>
          <li class="navitem navlink">
            <a href="/events">Events</a>
          </li>
          <li class="navitem navlink">
            <a href="/members">Members</a>
          </li>
          <li class="navitem navlink">
            <a href="/community-service">Community Service</a>
          </li>
          <li class="navitem navlink">
            <a href="/study-group">Study Group</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>

</html>
